.lap_back{
  background: url('../img/home/banner_home.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.lap_back{
  height: 300px;
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
.lap_back{
  height: 280px;
}
}
.tagline {    
   font-family: 'Quicksand-Medium';  
  font-size: 22px;
  letter-spacing: 0.6px;
  color: #fff;
  margin-bottom: 0px ! important; 
  padding-top: 7rem;
  padding-left: 7rem;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.tagline {
  padding-top: 5rem;
  font-size: 15px;
  padding-left: 4rem;
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
.tagline {
  padding-top: 4rem;
  font-size: 14px;  
  padding-left: 4rem;
}
}
@media only screen and (max-width: 1200px) and (min-width: 1024px){
.tagline {
  padding-top: 4rem;
  font-size: 18px;  
  padding-left: 6rem;
}
}

.search-container {
  /*float: right;*/
  margin-top: 5px;
}

.search_head {
  font-family: 'Quicksand-Medium';
  letter-spacing: 0.6px;
  color: #000;
  padding: 4px 8px;
  font-size: 14px;
  border:1px solid #ddd;
  width: 80%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.header-main.sticky .search_head{
  border:1px solid #ddd;
}

.header .header-main.sticky .topnav{
  display: none;
}
.topnav {
  overflow: hidden;
}
.topnav h4{
  padding: 15px;

  letter-spacing: 0.3px;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
  .search_head {
       border:1px solid #ddd;
       width: 60%;
       margin-left: 20px;
       margin-bottom: 10px;
  }
}

.search-container button {
  padding: 4px 10px;
  background: #084a83;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  position: absolute;
  margin-right: -7px;
}
.header-main.sticky .search-container button{
  padding: 5px 10px;
}

.search-container button:hover {
  background: #539DDB;
}

.consult_btn{
      padding: 10px 70px;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    font-family: 'Quicksand-Medium';
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .consult_btn{
       padding: 10px 20px;
       font-size: 18px;
       margin-top: 0;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
  .consult_btn{
       padding: 10px 20px;
       font-size: 18px;
       margin-top: 0;
  }
}
.consult_btn:hover{
  background:#084A83;
  color: #fff;
}

.section-pattern1{
  background:#fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
}
.section-pattern1 h3{
  font-family: 'Quicksand-Medium';
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000000;
  padding-top: 30px;
}
.section-pattern1 h4{
  font-family: 'Quicksand-Medium';
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
  padding: 15px 0;
}
.section-pattern1 p{
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.3px;
  text-align: left;
  color: #000000;
  padding-top: 10px;
  margin-bottom: 4.5rem;
}
@media only screen and (max-width: 1199px) and (min-width: 320px){
  .section-pattern1 p{
    margin-bottom: 50px;
  }
}

.home_about_btn{
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 15px 40px;
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
  .home_about_btn{
    padding: 15px 15px;
  }
}

.home_about_btn:hover{
  background:#084A83;
  color: #fff;
}

.section-pattern2{
  background:#fff;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 40px 0 0 0;
}
.section-pattern2 h2{
  font-family: 'Quicksand-Medium';
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.3px;
  color: #000000;
}
.service_section{
  padding-top: 40px;
}
.service_section img{
  transition: transform .2s;
}
.service_section img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.service_section .service_heading{
  font-family: 'Quicksand-Medium';
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 10px;
  padding-left: 65px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .service_section .service_heading{
       padding-left: 0;
  }
}
.service_section .service_text{
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000000;
  padding: 5px 5px 5px 70px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .service_section .service_text{
       padding-left: 0;
  }
}

.service_btn{
    background:none;
    font-family: 'Quicksand-Medium';
    font-size:14px;
    letter-spacing:0.9px;
    color:#539ddb;
    border:none;
    transition:all 0.5s;
    cursor:pointer;
    padding-left: 70px;
    padding-bottom: 30px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .service_btn{
       padding-left: 0;
  }
}
 .service_btn span{
    cursor:pointer;
    display:inline-block;
    position:relative;
    transition:0.5s;
}
 .service_btn span:after{
    content:'\00bb';
    position:absolute;
    opacity:0;
    top:0;
    right:-20px;
    transition:0.5s;
}
 .service_btn:hover span{
    padding-right:25px;
    color:#064c9a;
}
 .service_btn:hover span:after{
    opacity:1;
    right:0;
}
.section_pattern3{
  padding: 0 0 40px 0;
}
.section_pattern3 .pattern{
  padding: 80px 0;
}
@media only screen and (min-width: 576px) and (max-width: 767px){
  .section_pattern3 .pattern{
  padding: 20px 0;
}
}
.section_pattern3 .pattern h6{
    font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 2.38;
  letter-spacing: 0.6px;
  color: #539ddb;
}
.section_pattern3 .pattern h2{
  font-family: 'Quicksand-Medium';
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #151d41;
}
.form-control{
  border-radius: 5px ! important;
  border: solid 1px #151d41 ! important;
  background-color: #ffffff ! important;
  padding: 25px 20px;
  margin-bottom: 2rem;
}
::-webkit-input-placeholder { /* Edge */
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: #151d41 ! important;
}

:-ms-input-placeholder { /* Internet Explorer */
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: #151d41 ! important;
}

::placeholder {
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: #151d41 ! important;
}
select.form-control:not([size]):not([multiple]){
    height: auto ! important;
}

.select_box{
  overflow: hidden;
  position: relative;
  -webkit-appearance: none;
}
.select_box:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #707070;
  position: absolute;
  top: 26%;
  right: 25px;
  content: "";
  z-index: 98;
 }
.select_box select{
  padding: 16px ! important;
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: #151d41 ! important;
  -webkit-appearance: none;
  border:#000;
}

#contact-send{
   font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.6px;
  color: #ffffff ! important;
  background-color: #539ddb;
  padding: 15px 25px;
  border-radius: 5px;
}
#contact-send:hover{
   color: #fff;
   background:#084A84;
}
.footer-bg{
  background:#fff ! important;
}
.footer-top{
  padding: 20px 0 0 0;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .footer-top{
  padding: 20px 0 0 0;
}
}
.widget_contact_info{
  padding:40px 0 0 0;
}

.widget_contact_info p{
   font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.6px;
  color: #151d41 ! important;
}
.widget_recent_entries h5 {
   font-family: 'Quicksand-Medium';
   font-size: 16px;
  line-height: 2.19;
  letter-spacing: 0.6px;
  color: #539ddb ! important;
  padding-top: 20px;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .widget_recent_entries h5{
  padding: 0;
}
}
.widget_recent_entries p{
  margin-bottom: 0px ! important;
}
.widget_recent_entries p a{
   font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.3px;
  color: #151d41 ! important;
}
.widget_recent_entries p a:hover{
   color: #084A83 ! important;
}
.widget_recent_entries h5 a{
   font-family: 'Quicksand-Medium';
   font-size: 16px;
  line-height: 2.19;
  letter-spacing: 0.6px;
  color: #539ddb ! important;
}
.widget_recent_entries h5 a:hover{
  color: #084A83 ! important;
}
.copyright-text span{
   font-family: 'Quicksand-Medium';
  font-size: 18px;
  line-height: 1.94;
  letter-spacing: 0.6px;
  text-align: center;
  color: #151d41 ! important;
}
.copyright-text a{
   font-family: 'Quicksand-Medium';
  font-size: 18px;
  line-height: 1.94;
  letter-spacing: 0.6px;
  text-align: center;
  color: #539ddb ! important;
}
.copyright-text a:hover{
  color: #084A83 ! important;
}
/*signin Page*/
.signin{
  background:#fff;
  padding: 120px 0 40px 0;
}
.signin h3{
  font-family: 'Quicksand-Medium';
    font-size: 28px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.9px;
    text-align: left;
    color: #000000;
    padding-top: 5rem;
    padding-bottom: 20px;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin h3{
  padding-top: 2rem;
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
.signin h3{
  padding-top: 0;
}
}
.signin h5{
  font-family: 'Quicksand-Medium';
    font-size: 18px;
    line-height: 1.25;
    letter-spacing: 0.9px;
    color: #000000;
    padding-bottom: 20px;
}
.signin h5 a{
  color: #539DDB;
}
.signin h5 a:hover{
  color: #084A83;
}
@media only screen and (max-width: 575px) and (min-width: 320px){
.signin .image{
    display: none;
}
}
.signin p{
  font-family: 'Quicksand-Medium';
    font-size: 16px;
    line-height: 1.4;
    letter-spacing: 0.3px;
    text-align: left;
    color: #000000;
    padding-top: 10px;
}

span.profile a{
  display: inline; /* the default for span */
  width: auto !important  ;
  height: 150px;
  padding: 10px;
  color:  white;
  /*border: 1px solid blue;  */
  background-color: #084A83; 
}



#form-slider label{
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #000000;
  padding-bottom: 5px;
}
#form-slider .form-group{
  padding-bottom: 20px;
  margin-bottom: 0;
}
.form-group .list-inline li{
     padding-right: 5px;
}
#form-slider .form-group a{
   font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #000000;
}
#form-slider .form-group a:hover{
  color: #084A83;
}
#form-slider .sign-form-control{
   border: solid 1px #707070;
  background-color: #ffffff;
  padding: 5px 5px 5px 20px;
  width: 100%;
}
#form-slider .sign-form-control::-webkit-input-placeholder { /* Edge */
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: #7c7c7c ! important;
}

#form-slider .sign-form-control:-ms-input-placeholder { /* Internet Explorer */
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: #7c7c7c ! important;
}

#form-slider .sign-form-control::placeholder {
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.23;
  letter-spacing: 0.6px;
  color: #7c7c7c ! important;
}
#login-send{
   font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.6px;
  color: #ffffff ! important;
  background-color: #539ddb;
  padding: 10px 0;
  width: 100%;
}
#login-send:hover{
   color: #fff;
   background:#084A84;
}
/*Signup Page*/
input[type=checkbox]{
  width: 15px;
  height: 15px;
  line-height: 2.1;
}
.form-group .terms{
  color: #539ddb ! important;
  text-decoration: underline;
}
/*Cart Page*/
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin .cart_head{
   text-align: center;
}
}
.signin .cart_back{
  background: #f4f4f4;
  padding:20px 10px;
  margin-bottom: 20px;
}
.signin .cart_content h4{
   font-family: 'Quicksand-Medium';
  font-size: 18px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #000000;
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin .cart_content h4{
   text-align: center;
}
}
.signin .cart_content h6{
   font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #000000;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin .cart_content h6{
   text-align: center;
}
}
.signin .cart_content p{
   font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #707070;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin .cart_content p{
   text-align: center;
}
}
.signin .price{
   font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #000000;
  margin-top: 3.5rem;
  text-align: right;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin .price{
  margin-top: 0;
  text-align: center;
}
}
.signin .service_img{
  margin-top: 1rem;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin .service_img{
  margin-top: 0;
}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
.signin .service_img{
  margin-top: 2.5rem;
}
}
.signin .remove{
  margin-top: 3.5rem;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.signin .remove{
  margin-top: 0;
}
}
.signin .cart_tot h6{
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #000000;
  text-align: right;
  padding-bottom: 10px;
}
.signin .sub_tot{
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #000000;
  margin: 0 0 10px 0;
  padding-top: 0;
  text-align: right;
}
.signin hr{
  margin: 0 0 10px 0;
}
.cart_btn{
  margin-top: 1rem;
}
@media only screen and (max-width: 1200px) and (min-width: 320px){
.cart_btn{ 
  padding-bottom: 2rem;
}
}
.continue_btn{
    background:none;
    font-family: 'Quicksand-Medium';
    font-size:14px;
    letter-spacing:0.9px;
    color:#000000;
    border:none;
    transition:all 0.5s;
    cursor:pointer;
    text-align: left;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .continue_btn{
       padding-left: 0;
  }
}
 .continue_btn span{
    cursor:pointer;
    display:inline-block;
    position:relative;
    transition:0.5s;
}
 .continue_btn span:after{
    content:'\00bb';
    position:absolute;
    opacity:0;
    top:0;
    right:-20px;
    transition:0.5s;
}
 .continue_btn:hover span{
    padding-right:25px;
    color:#064c9a;
}
 .continue_btn:hover span:after{
    opacity:1;
    right:0;
}

.cart_to_wishlist_btn{
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
  text-align: right;
  margin-left:1rem;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
    .cart_to_wishlist_btn{
      margin-left: 1rem;
  }
}

.cart_to_wishlist_btn:hover{
  background:#084A83;
  color: #fff;
}
.cart_btn .checkout_btn{
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .cart_btn .checkout_btn{
    position: absolute;
    width: 70%;
    left: 15%;
      margin-top: 2.5rem ! important;
      text-align: center;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
  .cart_btn .checkout_btn{
    position: absolute;
    width: 60%;
    left: 15%;
      margin-top: 2.5rem ! important;
      text-align: center;
  }
}

.checkout_btn:hover{
  background:#084A83;
  color: #fff;
}

.check_btn{
  margin-top: 10px;
}
@media only screen and (max-width: 1200px) and (min-width: 320px){
.check_btn{ 
  padding-bottom: 2rem;
}
}

.check_btn .wishlist_btn{
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
  width: 100%;
}

.check_btn .wishlist_btn:hover{
  background:#084A83;
  color: #fff;
}

.wish_btn{
  margin-top: 5rem;
}
@media only screen and (max-width: 1200px) and (min-width: 320px){
.wish_btn{ 
  padding-bottom: 2rem;
}
}

.wish_btn .wishlist_btn{
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
  width: 100%;
}

.wish_btn .wishlist_btn:hover{
  background:#084A83;
  color: #fff;
}

/*Inner Page banner*/

.banner1 {
  padding-top: 200px;
  min-height: 300px;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .banner1 {
  min-height: 300px;
  padding-top: 150px;
  }
}

.banner1 .banner-content h1 {
   font-family: 'Quicksand-Medium';
   font-size: 34px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.6px;
  text-align: left;
  color: #084a83;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .banner1 .banner-content h1 {
    font-size: 30px;
    line-height: 1.25;
  }
}

@media only screen and (max-width: 991px) {
  .banner1 .banner-content h1 br {
    display: none;
  }
}

.banner1 .banner-content p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.67;
}

.banner1 .banner-content .banner-btn {
  margin-top: 30px;
}


.banner1 .banner-slider .banner-image img {
  width: auto !important;
}

@media only screen and (max-width: 991px) {
  .banner1 .banner-slider .banner-image img {
    margin: 0 auto;
  }
}


.inner_service_section{
  padding: 20px 0 0 0;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.inner_service_section{
  padding: 40px 0 0px 0;
}
}
.inner_service_section .service_heading{
  font-family: 'Quicksand-Medium';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.9px;
    color: #000000;
    text-transform: uppercase;
}
.section-pattern3{
  padding: 40px 0 60px 0;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .section-pattern3 {
    padding: 20px 0 20px 0;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 768px){
  .section-pattern3 {
    padding: 20px 0 40px 0;
  }
}

.section-pattern3 .inner_service_section img{
     transition: transform .2s;
}

.section-pattern3 .inner_service_section img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

.section-pattern3 p{
  font-family: 'Quicksand-Medium';
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #707070;
  padding-top: 3rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .section-pattern3 p{
    padding-top: 3rem;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
  .section-pattern3 p{
    padding-top: 0;
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .inner_img{
    padding-top: 3rem;
  }
}

.digital_service_section{
  padding: 20px 0 0 0;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.digital_service_section{
  padding: 40px 0 0px 0;
}
}
.digital_service_section p{
  margin-bottom: 0;
  padding-top: 2rem;
}
.digital_service_section .service_heading{
  font-family: 'Quicksand-Medium';
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: 0.9px;
    color: #000000;
    text-transform: uppercase;
}
.digital_service_section .digital_para p{
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #707070;
  margin-bottom: 10px;
  padding: 10px 25px;
  text-align: justify;
}
.digital_service_section .digital_para h4{
  font-family: 'Quicksand-Bold';
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
.digital_service_section .digital_amt p{
  font-family: 'Quicksand-Medium';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.3px;
  text-align: left;
  color: #707070;
  padding: 20px 0 0 0;
}
.digital_service_section img{
  margin-bottom: 8px;
    transition: transform .2s;
}

.digital_service_section img:hover{
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
.digi_cart_btn{
    background:none;
    font-family: 'Quicksand-Medium';
    font-size:14px;
    letter-spacing:0.9px;
    color:#000;
    border:none;
    transition:all 0.5s;
    cursor:pointer;
    padding-top: 40px;
    padding-left: 3rem;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
  .digi_cart_btn{
       padding-left: 0;
  }
}
 .digi_cart_btn span{
    cursor:pointer;
    display:inline-block;
    position:relative;
    transition:0.5s;
}
 .digi_cart_btn span:after{
    content:'\00bb';
    position:absolute;
    opacity:0;
    top:0;
    right:-20px;
    transition:0.5s;
}
 .digi_cart_btn:hover span{
    padding-right:25px;
    color:#064c9a;
}
 .digi_cart_btn:hover span:after{
    opacity:1;
    right:0;
}
.digi_wish_btn{
  background:none;
    font-family: 'Quicksand-Medium';
    font-size:14px;
    letter-spacing:0.9px;
    color:#000;
    border:none;
    transition:all 0.5s;
    cursor:pointer;
    padding-top: 40px;
    float: right;
    margin-left: 0;
    padding-right: 3rem;
}
.digi_wish_btn:hover{
  color: #064c9a;
}
.cart_btn_digi{
    font-family: 'Quicksand-Medium';
    font-size:14px;
    letter-spacing:0.9px;
    border:none;
    transition:all 0.5s;
    cursor:pointer;
    margin-left: 0;
    color: #fff;
    border-radius: 5px;
    background-color: #539ddb ! important;
    padding: 15px 40px;
}
.cart_btn_digi:hover{
    background-color: #084A83 ! important;
}
.cart_wish_digi{
   background:none;
    font-family: 'Quicksand-Medium';
    font-size:14px;
    letter-spacing:0.9px;
    color:#000;
    border:none;
    transition:all 0.5s;
    cursor:pointer;
    float: right;
     margin-left: 0;
     padding-top: 1rem;
    padding-right: 3rem;
}
.sub_tot_pac{
  letter-spacing: 0.9px;
  line-height: 1.5;
  font-family: 'Quicksand-Medium';
  font-family: 14px;
}
.forget{
  letter-spacing: 0.9px;
  line-height: 1.5;
  font-family: 'Quicksand-Medium';
  font-family: 16px;
  color: #539DDB;
}
.forget:hover{
  color: #084A83;
}
.editprofile_btn{
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.editprofile_btn{
    position: absolute;
    width: 37%;
    left: 7%;
      text-align: center;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
.editprofile_btn{
    position: absolute;
    width: 40%;
      margin-top: 2.5rem ! important;
      text-align: center;
  }
}

.editprofile_btn:hover{
  background:#084A83;
  color: #fff;
}

.orderhistory_btn{
  font-family: 'Quicksand-Medium';
  font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
  margin-left: 5rem;
}
@media only screen and (max-width: 767px) and (min-width: 320px){
.orderhistory_btn{
    position: absolute;
    width: 45%;
    left: 30%;
      text-align: center;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
.orderhistory_btn{
    position: absolute;
    width: 45%;
    left: 30%;
      margin-top: 2.5rem ! important;
      text-align: center;
  }
}

.proflog_btn{
   font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
  margin-top: 1rem;
  margin-left: 8rem;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
.proflog_btn{
    position: absolute;
    width: 35%;
    left: 0%;
      margin-top: 2.5rem ! important;
      text-align: center;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
.proflog_btn{
    position: absolute;
    width: 40%;
    left: 0%;
      margin-top: 5rem ! important;
      text-align: center;
  }
}

.proflog_btn:hover{
  background:#084A83;
  color: #fff;
}

.profile_btn{
   font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
  margin-top: 1rem;
  margin-left: 5rem;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
.profile_btn{
    position: absolute;
    width: 35%;
    left: 5%;
    margin-left: 0;
    margin-top: 0;
      text-align: center;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
.profile_btn{
    position: absolute;
    width: 40%;
    left: 5%;
      margin-top: 1rem ! important;
      margin-left: 0;
  }
}

.profile_btn:hover{
  background:#084A83;
  color: #fff;
}

.logout_btn{
   font-size: 14px;
  line-height: 1.25;
  letter-spacing: 0.6px;
  color: #fff;
  border-radius: 5px;
  background-color: #539ddb;
  padding: 10px 30px;
  margin-left: 4rem;
}

@media only screen and (max-width: 767px) and (min-width: 320px){
.logout_btn{
    position: absolute;
    width: 40%;
    left: 36%;
      margin-top: 0rem ! important;
      text-align: center;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 768px){
.logout_btn{
    position: absolute;
    width: 40%;
    left: 40%;
      margin-top: 1rem ! important;
      text-align: center;
  }
}

.logout_btn:hover{
  background:#084A83;
  color: #fff;
}



.orderhistory_btn:hover{
  background:#084A83;
  color: #fff;
}



.table td{
  border: 1px solid #fff ! important;
}